<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-item>
        <ion-label position="stacked"> Email </ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Password </ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <p *ngIf="errorMessage" style="font-weight: bold; color: red">
        {{ errorMessage }}
      </p>

      <ion-button
        style="margin-top: 30px"
        shape="round"
        [disabled]="!email || !password"
        (click)="login()"
      >
        Log In
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
